# Dependencias
node_modules/

# Builds
dist/
build/

# Logs
*.log
npm-debug.log*

# Entornos
.env
.env.local
.env.*.local

# Prisma
backend/prisma/*.db
backend/prisma/dev.db-journal

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests coverage
coverage/
